# ignore extensions
*.pyc
*.log
files.txt
settings.json 
MANIFEST
.vscode/.ropeproject
.vscode/settings.json

# ignore directories
*.egg-info/
__pycache__/
.ipynb_checkpoints/
validation/.ipynb_checkpoints/
validation/*.csv
output/
dist/
build/
