# ignore files
*.pyc
*.log
validation/*.csv
files.txt
MANIFEST
.vscode/settings.json
.vscode/launch.json
# docs/_build
# docs/_static
# docs/_templates

# ignore directories
*.egg-info/
__pycache__/
.ipynb_checkpoints/
validation/.ipynb_checkpoints/
output/
dist/
build/
.vscode/.ropeproject
