# ignore extensions
*.pyc
*.log
files.txt
settings.json 
MANIFEST

# ignore directories
*.egg-info/
__pycache__/
.ipynb_checkpoints/
validation/.ipynb_checkpoints/
validation/*.csv
.vscode/
output/
dist/
build/
